{% extends 'base.html'%}

{%block body%}

<div class="card">
    <div class="card-body">
      <form method="POST">
  <!--title-->
  <!--describtion-->
  <!--duedate-->
  <!--done-->
  {{form.csrf_token}}
  
  
  <div class="row mb-3">
      <label for="Voname" class="col-sm-2 col-form-label" >Name</label>
      <div class="col-sm-10" id="floatingInput">
        {{form.Name()}}
      </div>
    </div>
  
  <div class="row mb-3">  
    <label for="Nachname" class="col-sm-2 col-form-label">Building</label>
    <div class="col-sm-10">
      {{form.Gebäude()}}
    </div>
  </div>

    <button type="submit" class="btn btn-primary">Add compartment</button>
  </form>
  </div>
  </div>
  <div class="card">
    <div class="card-body">
      <form method="post" action="/compartments">
        {{form.csrf_token}}
        <button class="btn btn-primary">Back to the overview of the compartments</button>
      </form>
      

      



    </div>
  </div>
  {%endblock%}