{% extends 'base.html'%}

{%block body%}
<div class="container">




<!--<div class="alert alert-success" role="alert">
    A simple success alert—check it out!
</div>-->
<div class="card">
  <div class="card-body">
    <form method="POST" action="/">
<!--title-->
<!--describtion-->
<!--duedate-->
<!--done-->
      <h5 class="text-black">Please choose a table:</h5>
      <button type="submit" class="btn btn-primary">Compartments</button>
      <button type="submit" class="btn btn-primary ml-2">Workgroups</button>
      <button type="submit" class="btn btn-primary ml-2">Workers</button>
    </form>
  </div>
</div>
{%endblock%}