{% extends 'base.html'%}

{%block body%}
<nav class="navbar navbar-light bg-white mb-5 border-bottom">
    <div class="container">
      <a class="navbar-brand"><h2>Todo App</h2></a>
  </div>
</nav>
<div class="container">




<!--<div class="alert alert-success" role="alert">
    A simple success alert—check it out!
</div>-->
<div class="card">
  <div class="card-body">
    <form method="POST" action="/">
<!--title-->
<!--describtion-->
<!--duedate-->
<!--done-->

      <button type="submit" class="btn btn-primary">Abteilung</button>
      <button type="submit" class="btn btn-primary">Arbeitsgruppe</button>
      <button type="submit" class="btn btn-primary">Mitarbeiter</button>
    </form>
  </div>
</div>
{%endblock%}