{% extends 'base.html'%}

{%block body%}
<div class="container">




    
    <div class="card mt-2">
      <div class="card-body">
    <table class="table">
      <thead>
      <tr>
        <td scope ="col">Worker Id</td>
        <td scope ="col">Firstname</td>
        <td scope ="col">Lastname</td>
        <td scope ="col">Salary</td>
        <td scope ="col">Address</td>
        <td scope ="col">Employment</td>
        <td scope ="col">Birthday</td>
      </tr>
      </thead>
      <tbody>
        {%for worker in workers:%}
          <tr>
            <td scope = "row">{{worker.MitarbeiterID}}</td>
            <td>{{worker.Vorname}}</td>
            <td>{{worker.Nachname}}</td>
            <td>{{worker.Lohn}}</td>
            <td>{{worker.Adresse}}</td>
            <td>{{worker.Beschäftigung}}</td>  
            <td>{{worker.Geburtsdatum}}</td>          

          </tr>
        {%endfor%}
      </tbody>
    </table>
    </div>
    </div>
    </div>
{%endblock%}